<section class="block container">
    <header class="block__header">
      <h2 class="block__heading" > heading </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci tenetur repudiandae velit consectetur modi in cumque suscipit distinctio nihil repellendus. Accusamus non nulla obcaecati rerum odio, quibusdam molestiae perspiciatis suscipit. Minus id asperiores aspernatur sapiente eveniet facere voluptates reiciendis doloribus?</p>
    </header>
  </section>
  
  <section class="block block--dark block--skewed-left">
  
    <!-- we put the container class below the section on skewed blocks because otherwise it will cut off the black background and leave white on the ends. -->
      <div class="container"> 
        <h2 class="block__heading" > heading </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci tenetur repudiandae velit consectetur modi in cumque suscipit distinctio nihil repellendus. Accusamus non nulla obcaecati rerum odio, quibusdam molestiae perspiciatis suscipit. Minus id asperiores aspernatur sapiente eveniet facere voluptates reiciendis doloribus?</p>
      </div>
  
  </section>