
<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quidem numquam odit beatae a officiis dicta itaque, debitis incidunt illo.</p>
   
    <footer>
      <div class="media">
        <div class="media__image">
            <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title quote__author">Sean Doyle</h3>
            <p class="quote__company">Sean Doyles Windows</p>
        </div>
        </div>
    </footer>
  
  
  </blockquote>
  
  